.forms{
    label{
        color: $color1;
    }
    
    input{
        border-radius: 0;
        border: 2px solid $color1;
        min-height: 45px;
        max-height: 45px;
    }

    .submit{
        transition: all .2s ease-in;
        max-height: 45px;
        min-height: 45px;
        border: 2px solid $color1;
    }



    .submit:hover{
        border: 2px solid $color1;
        background-color: rgba($color: #FFFFFF, $alpha: 0);  
        transition: all .1s ease-out;
        color: $color1 !important;
    }

    .cancel{
        border: 2px solid $color1;
        background-color: rgba($color: #FFFFFF, $alpha: 0);
        transition: all .2s ease-in;
    }

    .cancel:hover{
        border: 2px solid $color4;
        background-color: rgba($color: $color4, $alpha: 1);
        color: white !important;
        transition: all .1s ease-out;
    }


}

// @keyframes leftWidth{

//     0% {width:100px;}
//     100% {width:120px;}

// }